<div >
  <h1 >New Statement</h1>

  <% if @statement.errors.any? %>
    <div>
      <h2> Something went wrong, please check the following items: </h2>
      
      <ul>
        <% @statement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <%= link_to "Add more items", '#', id: "add_statement_items",class: "btn btn-primary" %>
    <br>
    <br>
  
    <%= form_with(model: @statement, class: "row gy-2 gx-3 align-items-center form-inline") do |f| %>
      <%= f.fields_for :statement_items  do |si| %>
        <div class="row">
          <% si.hidden_field :id %>
          <div class="col-md-4">
            <%= si.label :name, class: "form-label" %>
            <%= si.text_field :name, class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= si.label :amount_pennies, class: "form-label"  %>
            <%= si.number_field :amount_pennies, step: 0.01, class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= si.label :statement_type, class: "form-label"  %>
            <%= si.select :statement_type, [['expenditure', 0], ['income', 1]], {}, class: "form-select" %>
          </div>
        </div>
      <% end %>

      <div class="col-12">
        <%= f.button :submit, class: "btn btn-success" %>
        <%= link_to "Cancel", root_path, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'statement' %>
